:root{
    --font-text: 'Graphik', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* *{
   
}
body{
   
} */
.Main{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: var(--font-text);
    font-display:swap;

}
.components {
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 20px;
    flex-direction: row; 
    flex-wrap: wrap; 
    /* align-items: center; */
    cursor: grab;
    z-index: 0;
}

.components .design{
    width : calc(100% / 4);
    /* padding: 10px; */
    /* margin-top: -55px; */
}


.components .photos{
    height: 140px;
    width: 220px;
}


.components .photos:hover{
    transition: all 1s ease;
    transform: scale(1.05);
    cursor: pointer;
}



.components #centred-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 95px;
    letter-spacing: 25px;
    position: fixed;
    margin-top: 50vh;
    font-family:Graphik;
    font-display:swap;
    font-weight: bold;
    /* position: absolute; */
}
 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 95px;
    letter-spacing: 25px;
    position: fixed;
    margin-top: 50vh;
    font-family:Graphik;
    font-display:swap;
    font-weight: bold;
    color: black;
     margin-left: 30%;
    
}


@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .components {
        width: 120%;
        height: auto;
        margin: 10px auto;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: wrap; 
        align-items: center;
        cursor: grab;
    }
    .components .design{
        width : calc(100% / 5 - 10px);
        padding: 10px;
    }
    
    .components .photos{
        height: 100px;
        width: 210px;
    }
    .components #centred-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 55px;
        letter-spacing: 15px;
        font-family:Graphik;
        font-display:swap;
        font-weight: bold;
    }
    .title {
        font-size: 55px;
        letter-spacing: 15px;
    }
}
@media only screen and (max-width: 1300px){
	.components {
        width: 100%;
        margin: 10px auto;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: wrap; 
        align-items: center;
        cursor: grab;
    }
    .components .design{
        width : calc(100% / 5 - 70px);
        padding: 10px;
      
    }
    
    
    .components .photos{
        height: 100px;
        width: 170px;
    }
    .components #centred-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 55px;
        letter-spacing: 15px;
        font-family:Graphik;
        font-display:swap;
        font-weight: bold;
    }
    .title {
        font-size: 55px;
        letter-spacing: 15px;
        
    }
}


@media only screen and (max-width: 700px){
    .components {
        width: 100%;
        height: 80vh;
        display: flex;
        /* gap: 15px; */
        margin-left: 15px;
        flex-direction: column; 
        flex-wrap: wrap;
    }
    .components .filter{
        z-index: 5 !important;
    }
    .components .design{
        width : calc(100% / 4);
        height: auto;
    }
    .components #centred-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        letter-spacing: 10px;
        font-family:Graphik;
        font-display:swap;
        font-weight: bold;
    }
    .title {
        font-size: 25px;
        letter-spacing: 10px;
        
    }
}
